host    replication     {{ replication_user }}      0.0.0.0/0       md5
host    all             all                         0.0.0.0/0       md5
local   all             postgres                    trust
local   all             all                         md5