global
  daemon

defaults
  timeout connect 10s
  timeout client 60s
  timeout server 60s

frontend stats
  mode http
  bind *:42100
  stats enable
  stats uri /stats
  stats refresh 10s
  http-request use-service prometheus-exporter if { path /metrics }
