name: _FB e2e tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      pmm_ui_tests_branch:
        description: 'pmm-ui-tests repository branch(CLI tests)'
        default: 'main'
        required: false
        type: string
      pmm_qa_branch:
        description: 'qa-integration repository branch(for setup)'
        default: 'main'
        required: false
        type: string
      pmm_server_image:
        description: 'PMM Server docker image'
        default: 'perconalab/pmm-server:3-dev-latest'
        required: true
        type: string
      pmm_client_image:
        description: 'pmm-client docker image'
        default: 'perconalab/pmm-client:3-dev-latest'
        required: false
        type: string
      pmm_client_version:
        description: 'PMM Client version (3-dev-latest|pmm3-rc|x.xx.x|https...)'
        default: '3-dev-latest'
        required: false
        type: string
      sha:
        description: "SHA (leave default if running manually)"
        default: 'null'
        required: false
        type: string

  workflow_call:
    inputs:
      pmm_ui_tests_branch:
        required: false
        type: string
      pmm_qa_branch:
        required: false
        type: string
      pmm_server_image:
        required: true
        type: string
      pmm_client_image:
        required: false
        type: string
      pmm_client_version:
        required: false
        type: string
      sha:
        required: false
        type: string

    secrets:
      LAUNCHABLE_TOKEN:
        required: false
jobs:
  backup_management_mongo:
    name: Backup Management MongoDB UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
#      setup_services: '--database psmdb,SETUP_TYPE=pss'
      setup_services: '--database psmdb,SETUP_TYPE=pss,COMPOSE_PROFILES=extra'
      tags_for_tests: '@bm-mongo'

#  -- include backup_management_ps once setup for mysql fixed for the worker
#  backup_management_ps:
#    name: Backup Management PS UI tests
#    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
#    secrets:
#      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
#    with:
#      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:dev-latest' }}
#      pmm_client_version: ${{ inputs.pmm_client_version || 'dev-latest' }}
#      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:dev-latest' }}
#      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
#      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
#      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
#      setup_services: '--mongo-replica-for-backup --setup-bm-mysql'
#      tags_for_tests: '@bm-mysql'

  backup_management_common:
    name: Backup Management Common and Locations UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database psmdb,SETUP_TYPE=pss'
      #      tags_for_tests: '@bm-common|@bm-locations' -- include bm-common once setup for mysql fixed
      tags_for_tests: '@bm-locations'

  exporters:
    name: Exporters tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps,QUERY_SOURCE=slowlog'
      tags_for_tests: '@exporters'

  mongo_exporter:
    name: MongoDB Exporter tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database psmdb'
      tags_for_tests: '@mongodb-exporter'

  instances:
    name: Instances UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps --database external --database haproxy'
      tags_for_tests: '@fb-instances'

  alerting_and_settings:
    name: Alerting and Settings UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database mysql'
      tags_for_tests: '@fb-alerting|@fb-settings'

  user_and_password:
    name: User with changed password UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps --database psmdb --database pdpgsql'
      tags_for_tests: '@user-password'

  pgsm:
    name: PGSM UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database pdpgsql'
      tags_for_tests: '@pgsm-pmm-integration'

  pgss:
    name: PGSS UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database pgsql'
      tags_for_tests: '@pgss-pmm-integration'

# Unskip once it will be possible to find ARBITER element on the replset summary dashboard
  # psmdb_arbiter:
  #   name: PSMDB Arbiter Replica UI tests
  #   uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
  #   secrets:
  #    LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
  #   with:
  #     pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
  #     pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
  #     pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
  #     pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
  #     pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
  #     sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
  #     setup_services: '--database psmdb,SETUP_TYPE=psa'
  #     tags_for_tests: '@pmm-psmdb-arbiter-integration'

  psmdb_replica:
    name: PSMDB Replica UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database psmdb,SETUP_TYPE=pss'
      tags_for_tests: '@pmm-psmdb-replica-integration'

  user_and_password_podman:
    name: User with changed password UI tests
    uses: ./.github/workflows/runner-e2e-tests-podman.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: 'main'
      qa_integration_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps --database psmdb'
      tags_for_tests: '@user-password'

  dump_tool:
    name: Dump Tool UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps'
      tags_for_tests: '@dump'

  service_account:
    name: Service Accounts tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps=8.0'
      tags_for_tests: '@service-account'

  psmdb_arbiter:
    name: PSMDB Arbiter Replica UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database psmdb,SETUP_TYPE=psa'
      tags_for_tests: '@pmm-psmdb-arbiter-integration'

  ps_integration:
    name: Percona Server for MySQL UI integration tests
    uses: ./.github/workflows/runner-e2e-tests-playwright.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_version: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      qa_integration_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || (github.event_name == 'pull_request' && github.head_ref) || github.ref_name || 'main' }}
      setup_services: '--database ps=8.4,QUERY_SOURCE=slowlog --database pxc --database haproxy'
      pmm_test_flag: '@pmm-ps-integration'

  rbac:
    name: PS UI Role based access control
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps --database pdpgsql'
      tags_for_tests: '@rbac'

  encryption:
    name: Encryption tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps=8.0'
      tags_for_tests: '@fb-encryption'

  docker_configuration:
    name: Docker configuration tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '-h'
      tags_for_tests: '@docker-configuration'

  nomad:
    name: Nomad tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets:
      LAUNCHABLE_TOKEN: ${{ secrets.LAUNCHABLE_TOKEN }}
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_server_compose_file: 'docker-compose-nomad.yml'
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps=8.4 --database pdpgsql --database psmdb'
      tags_for_tests: '@nomad'
