name: _FB e2e tests

on:
  workflow_dispatch:
    inputs:
      pmm_ui_tests_branch:
        description: 'pmm-ui-tests repository branch(CLI tests)'
        default: 'v3'
        required: false
        type: string
      pmm_qa_branch:
        description: 'qa-integration repository branch(for setup)'
        default: 'v3'
        required: false
        type: string
      pmm_server_image:
        description: 'PMM Server docker image'
        default: 'perconalab/pmm-server:3-dev-latest'
        required: true
        type: string
      pmm_client_image:
        description: 'pmm-client docker image'
        default: 'perconalab/pmm-client:3-dev-latest'
        required: false
        type: string
      pmm_client_version:
        description: 'PMM Client version (3-dev-latest|pmm3-rc|x.xx.x|https...)'
        default: '3-dev-latest'
        required: false
        type: string
      sha:
        description: "SHA (leave default if running manually)"
        default: 'null'
        required: false
        type: string

  workflow_call:
    inputs:
      pmm_ui_tests_branch:
        required: false
        type: string
      pmm_qa_branch:
        required: false
        type: string
      pmm_server_image:
        required: true
        type: string
      pmm_client_image:
        required: false
        type: string
      pmm_client_version:
        required: false
        type: string
      sha:
        required: false
        type: string

    secrets:
      BACKUP_LOCATION_ACCESS_KEY:
        required: false
      BACKUP_LOCATION_SECRET_KEY:
        required: false

jobs:
  backup_management_mongo:
    name: Backup Management MongoDB UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      setup_services: '--database psmdb,SETUP_TYPE=pss'
      tags_for_tests: '@bm-mongo'

#  -- include backup_management_ps once setup for mysql fixed for the worker
#  backup_management_ps:
#    name: Backup Management PS UI tests
#    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
#    secrets: inherit
#    with:
#      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:dev-latest' }}
#      pmm_client_version: ${{ inputs.pmm_client_version || 'dev-latest' }}
#      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:dev-latest' }}
#      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'main' }}
#      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'main' }}
#      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
#      setup_services: '--mongo-replica-for-backup --setup-bm-mysql'
#      tags_for_tests: '@bm-mysql'

  backup_management_common:
    name: Backup Management Common and Locations UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database psmdb,SETUP_TYPE=pss'
      #      tags_for_tests: '@bm-common|@bm-locations' -- include bm-common once setup for mysql fixed
      tags_for_tests: '@bm-locations'

  exporters:
    name: Exporters tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database psmdb,SETUP_TYPE=pss'
      tags_for_tests: '@mongodb-exporter|@exporters'

  instances:
    name: Instances UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps --database external --database haproxy'
      tags_for_tests: '@instances-fb'

  alerting_and_settings:
    name: Alerting and Settings UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database mysql'
      tags_for_tests: '@alerting-fb|@settings-fb'

  user_and_password:
    name: User with changed password UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps --database psmdb --database pdpgsql'
      tags_for_tests: '@user-password'

  pgsm:
    name: PGSM UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database pdpgsql'
      tags_for_tests: '@pgsm-pmm-integration'

  pgss:
    name: PGSS UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database pgsql'
      tags_for_tests: '@pgss-pmm-integration'

  rbac:
    name: RBAC UI tests
    uses: ./.github/workflows/runner-e2e-tests-playwright.yml
    secrets: inherit
    with:
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3 '}}
      pmm_test_flag: '@rbac'
      pmm_server_version: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      setup_services: '--database ps'
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}

  psmdb_arbiter:
    name: PSMDB Arbiter Replica UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database psmdb,SETUP_TYPE=psa'
      tags_for_tests: '@pmm-psmdb-arbiter-integration'

  user_and_password_podman:
    name: User with changed password UI tests
    uses: ./.github/workflows/runner-e2e-tests-podman.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps --database psmdb --database pdpgsql'
      tags_for_tests: '@user-password'

  dump_tool:
    name: Dump Tool UI tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '--database ps'
      tags_for_tests: '@dump'
