name: "GSSAPI E2E Tests Matrix"

on:
  schedule:
    - cron: '0 2 * * *'
  pull_request:
  workflow_dispatch:
    inputs:
      pmm_ui_tests_branch:
        description: 'pmm-ui-tests repository branch(CLI tests)'
        default: 'v3'
        required: false
        type: string
      pmm_qa_branch:
        description: 'qa-integration repository branch(for setup)'
        default: 'v3'
        required: false
        type: string
      pmm_server_image:
        description: 'PMM Server docker image'
        default: 'perconalab/pmm-server:3-dev-latest'
        required: true
        type: string
      pmm_client_image:
        description: 'pmm-client docker image'
        default: 'perconalab/pmm-client:3-dev-latest'
        required: false
        type: string
      pmm_client_version:
        description: 'PMM Client version (3-dev-latest|pmm3-rc|x.xx.x|https...)'
        default: '3-dev-latest'
        required: false
        type: string
      sha:
        description: "SHA (leave default if running manually)"
        default: 'null'
        required: false
        type: string

  workflow_call:
    inputs:
      pmm_ui_tests_branch:
        required: false
        type: string
      pmm_qa_branch:
        required: false
        type: string
      pmm_server_image:
        required: true
        type: string
      pmm_client_image:
        required: false
        type: string
      pmm_client_version:
        required: false
        type: string
      sha:
        required: false
        type: string

    secrets:
      BACKUP_LOCATION_ACCESS_KEY:
        required: false
      BACKUP_LOCATION_SECRET_KEY:
        required: false

jobs:
  mongo_e2e_tests:
    name: ${{ matrix.test_name }} - OL ${{ matrix.ol_version }}
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    strategy:
      matrix:
        ol_version: [8, 9]
        include:
          - test_name: 'MongoDB SSL tests'
            setup_services: '--database ssl_psmdb'
            tags_for_tests: '@ssl-mongo'
            pmm_server_compose_file: 'docker-compose.yml'
          - test_name: 'MongoDB Backup Management tests'
            setup_services: '--database psmdb,SETUP_TYPE=pss'
            tags_for_tests: '@bm-mongo'
            pmm_server_compose_file: 'docker-compose.yml'
          - test_name: 'MongoDB Exporter tests'
            setup_services: '--database psmdb'
            tags_for_tests: '@mongodb-exporter'
            pmm_server_compose_file: 'docker-compose.yml'
          - test_name: 'MongoDB Replica tests'
            setup_services: '--database psmdb,SETUP_TYPE=pss'
            tags_for_tests: '@pmm-psmdb-replica-integration'
            pmm_server_compose_file: 'docker-compose.yml'
          - test_name: 'MongoDB Arbiter tests'
            setup_services: '--database psmdb,SETUP_TYPE=psa'
            tags_for_tests: '@pmm-psmdb-arbiter-integration'
            pmm_server_compose_file: 'docker-compose.yml'
          - test_name: 'MongoDB Instances tests'
            setup_services: '--database psmdb'
            tags_for_tests: '@fb-instances'
            pmm_server_compose_file: 'docker-compose.yml'
          - test_name: 'MongoDB Nomad tests'
            setup_services: '--database psmdb'
            tags_for_tests: '@nomad'
            pmm_server_compose_file: 'docker-compose-nomad.yml'
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_server_compose_file: ${{ matrix.pmm_server_compose_file }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      setup_services: '${{ matrix.setup_services }},OL_VERSION=${{ matrix.ol_version }}'
      tags_for_tests: ${{ matrix.tags_for_tests }}

  mongo_cli_tests:
    name: ${{ matrix.test_name }} - OL ${{ matrix.ol_version }}
    uses: ./.github/workflows/runner-integration-cli-tests.yml
    secrets: inherit
    strategy:
      matrix:
        ol_version: [8, 9]
        include:
          - test_name: 'PSMDB 6.0 Replica CLI tests'
            setup_services: '--database psmdb=6.0,SETUP_TYPE=pss'
            cli_test: 'pmm-ui-tests/cli/tests/mongoDb-psmdb.spec.ts'
          - test_name: 'PSMDB 7.0 Replica CLI tests'
            setup_services: '--database psmdb=7.0,SETUP_TYPE=pss'
            cli_test: 'pmm-ui-tests/cli/tests/mongoDb-psmdb.spec.ts'
          - test_name: 'PSMDB 7.0 Shard CLI tests'
            setup_services: '--database psmdb=7.0,SETUP_TYPE=shards'
            cli_test: 'pmm-ui-tests/cli/tests/mongoDb-psmdb-shard.spec.ts'
          - test_name: 'PSMDB 8.0 CLI tests'
            setup_services: '--database psmdb=8.0,SETUP_TYPE=pss'
            cli_test: 'pmm-ui-tests/cli/tests/mongoDb-psmdb.spec.ts'
    with:
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      qa_integration_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_client_version: ${{ inputs.pmm_client_version || '3-dev-latest' }}
      cli_test: ${{ matrix.cli_test }}
      services_list: '${{ matrix.setup_services }},OL_VERSION=${{ matrix.ol_version }} --verbose'
      test_name: ${{ matrix.test_name }} 