name: "PSMDB GSSAPI E2E Tests Matrix"

on:
  schedule:
    - cron: '0 2 * * *'
  pull_request:
  workflow_dispatch:
    inputs:
      pmm_ui_tests_branch:
        description: 'pmm-ui-tests repository branch(CLI tests)'
        default: 'v3'
        required: false
        type: string
      pmm_qa_branch:
        description: 'qa-integration repository branch(for setup)'
        default: 'v3'
        required: false
        type: string
      pmm_server_image:
        description: 'PMM Server docker image'
        default: 'perconalab/pmm-server:3-dev-latest'
        required: true
        type: string
      pmm_client_image:
        description: 'pmm-client docker image'
        default: 'perconalab/pmm-client:3-dev-latest'
        required: false
        type: string
      pmm_client_version:
        description: 'PMM Client version (3-dev-latest|pmm3-rc|x.xx.x|https...)'
        default: '3-dev-latest'
        required: false
        type: string
      sha:
        description: "SHA (leave default if running manually)"
        default: 'null'
        required: false
        type: string

  workflow_call:
    inputs:
      pmm_ui_tests_branch:
        required: false
        type: string
      pmm_qa_branch:
        required: false
        type: string
      pmm_server_image:
        required: true
        type: string
      pmm_client_image:
        required: false
        type: string
      pmm_client_version:
        required: false
        type: string
      sha:
        required: false
        type: string

jobs:
  mongo_bm-ol8:
    name: OL 8 PSMDB BM tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: 'https://s3.us-east-2.amazonaws.com/pmm-build-cache/PR-BUILDS/pmm-client/pmm-client-dynamic-ol8-latest.tar.gz'
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha || 'null' }}
      setup_services: '--database psmdb,OL_VERSION=8,GSSAPI=true'
      tags_for_tests: '@bm-mongo'

  mongo_bm-ol9:
    name: OL 9 PSMDB BM tests
    uses: ./.github/workflows/runner-e2e-tests-codeceptjs.yml
    secrets: inherit
    with:
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server:3-dev-latest' }}
      pmm_client_version: 'https://s3.us-east-2.amazonaws.com/pmm-build-cache/PR-BUILDS/pmm-client/pmm-client-dynamic-ol9-latest.tar.gz'
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client:3-dev-latest' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }}
      sha: ${{ inputs.sha || github.event.pull_request.head.sha || 'null' }}
      setup_services: '--database psmdb,OL_VERSION=9,GSSAPI=true'
      tags_for_tests: '@bm-mongo'
