---
name: Package Test Matrix

on:
  schedule:
    - cron: '0 0 * * *'

  workflow_dispatch:
    inputs:
      package_testing_branch:
        description: 'Target branch for package-testing repository'
        type: string
        default: 'v3'
        required: true
      pmm_server_image:
        description: "pmm-server docker image(auto detected if empty)"
        required: false
        type: string
        default: "perconalab/pmm-server:3-dev-latest"
      package:
        description: "Select source package for enabling repo"
        required: true
        default: "pmm3-client"
        type: choice
        options:
          - original
          - pmm3-client
          - tools
      repository:
        description: 'Select Repo for Client:'
        required: true
        default: 'dev-latest'
        type: choice
        options:
          - release
          - release candidate
          - dev-latest
      pmm_client_tarball:
        description: "PMM Client tarball link or FB-code"
        type: string
      metrics_mode:
        description: 'Select the Metrics Mode for PMM Client:'
        required: true
        default: 'auto'
        type: choice
        options:
          - auto
          - push
          - pull

jobs:
  i_test:
    name: "Package Install"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'v3' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_integration"
      pmm_client_tarball: ${{ inputs.pmm_client_tarball || 'null' }}
      pmm_server_image: ${{ inputs.pmm_server_image }}

  u_test:
    name: "Package Install with Custom Path"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'v3' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_integration_custom_path"
      pmm_client_tarball: ${{ inputs.pmm_client_tarball || 'null' }}
      pmm_server_image: ${{ inputs.pmm_server_image }}

  t_test:
    name: "Package Install with Custom Port"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'v3' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_integration_custom_port"
      pmm_client_tarball: ${{ inputs.pmm_client_tarball || 'null' }}
      pmm_server_image: ${{ inputs.pmm_server_image }}
