---
name: Package Test Matrix(full)

on:
  workflow_dispatch:
    inputs:
      package_testing_branch:
        description: 'Target branch for package-testing repository'
        type: string
        default: 'v3'
        required: true
      package:
        description: "Select source package for enabling repo"
        required: true
        default: "pmm3-client"
        type: choice
        options:
          - original
          - pmm3-client
          - tools
      repository:
        description: 'Select Repo for Client:'
        required: true
        default: 'dev-latest'
        type: choice
        options:
          - release
          - release candidate
          - dev-latest
      metrics_mode:
        description: 'Select the Metrics Mode for PMM Client:'
        required: true
        default: 'auto'
        type: choice
        options:
          - auto
          - push
          - pull
      pmm_client_tarball:
        description: "PMM Client tarball link or FB-code"
        type: string
  workflow_call:
    inputs:
      package_testing_branch:
        required: true
        type: string
      package:
        required: true
        type: string
      repository:
        required: true
        type: string
      metrics_mode:
        required: true
        type: string
      pmm_client_tarball:
        required: false
        type: string

jobs:
  c_test:
    name: "Package Install (basic)"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'master' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client"

  i_test:
    name: "Package Install"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'master' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_integration"

  auth_config_test:
    name: "Package Install (auth config)"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'master' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_integration_auth_config"

  auth_register_test:
    name: "Package Install (auth register)"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'master' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_integration_auth_register"

  cu_test:
    name: "Package Upgrade (basic)"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'master' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_upgrade"

  iu_test:
    name: "Package Upgrade"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'master' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_integration_upgrade"

  port_u_test:
    name: "Package Upgrade: custom port"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'master' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_integration_upgrade_custom_port"

  tb_test:
    name: "Tarball Install (basic)"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'master' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_custom_path"

  tbi_test:
    name: "Tarball Install (custom path)"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'master' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_integration_custom_path"

  port_test:
    name: "Tarball Install (custom port)"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'master' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_integration_custom_port"

  tu_test:
    name: "Tarball Upgrade (custom path)"
    uses: ./.github/workflows/package-test-single.yml
    secrets: inherit
    with:
      package_testing_branch: ${{ inputs.package_testing_branch || 'master' }}
      package: ${{ inputs.package || 'pmm3-client' }}
      repository: ${{ inputs.repository || 'dev-latest' }}
      metrics_mode: ${{ inputs.metrics_mode || 'auto' }}
      playbook: "pmm3-client_integration_upgrade_custom_path"
