name: pmm2-testsuite pipeline
on:
  # run with default inputs
  pull_request:

jobs:
  bats-testsuite:
    uses: Percona-Lab/pmm-submodules/.github/workflows/pmm2-testsuite.yml@PMM-10789-fb-tests
    with:
      server_image: ${{ github.event.inputs.server_image || 'perconalab/pmm-server:dev-latest' }}
      client_version: ${{ github.event.inputs.client_version || 'dev-latest' }}
      client_image: ${{ github.event.inputs.client_image || 'perconalab/pmm-client:dev-latest' }}
      pmm_qa_branch: ${{ github.head_ref || 'main' }}
