name: V3 E2E Tests - Every 2 Hours

on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:
    inputs:
      pmm_ui_tests_branch:
        description: 'pmm-ui-tests repository branch(CLI tests)'
        default: 'v3'
        required: false
        type: string
      pmm_qa_branch:
        description: 'qa-integration repository branch(for setup)'
        default: 'v3'
        required: false
        type: string
      pmm_server_image:
        description: 'PMM Server docker image'
        default: 'perconalab/pmm-server-fb:PR-3982-1aa6576'
        required: true
        type: string
      pmm_client_image:
        description: 'pmm-client docker image'
        default: 'perconalab/pmm-client-fb:PR-3982-1aa6576'
        required: false
        type: string
      pmm_client_version:
        description: 'PMM Client version (3-dev-latest|pmm3-rc|x.xx.x|https...)'
        default: 'https://s3.us-east-2.amazonaws.com/pmm-build-cache/PR-BUILDS/pmm-client/pmm-client-PR-3982-1aa6576.tar.gz'
        required: false
        type: string
      sha:
        description: "SHA (leave default if running manually)"
        default: 'null'
        required: false
        type: string

  workflow_call:
    inputs:
      pmm_ui_tests_branch:
        required: false
        type: string
      pmm_qa_branch:
        required: false
        type: string
      pmm_server_image:
        required: true
        type: string
      pmm_client_image:
        required: false
        type: string
      pmm_client_version:
        required: false
        type: string
      sha:
        required: false
        type: string

    secrets:
      BACKUP_LOCATION_ACCESS_KEY:
        required: false
      BACKUP_LOCATION_SECRET_KEY:
        required: false

jobs:
  trigger_v3-e2e-codeceptjs:
    name: V3 E2E CodeceptJS Matrix Workflow
    uses: percona/pmm-qa/.github/workflows/e2e-codeceptjs-matrix.yml@v3
    secrets: inherit
    with:
      sha: ${{ inputs.sha || github.event.pull_request.head.sha ||  'null' }}
      pmm_server_image: ${{ inputs.pmm_server_image || 'perconalab/pmm-server-fb:PR-3982-1aa6576' }}
      pmm_client_version: ${{ inputs.pmm_client_version || 'https://s3.us-east-2.amazonaws.com/pmm-build-cache/PR-BUILDS/pmm-client/pmm-client-PR-3982-1aa6576.tar.gz' }}
      pmm_client_image: ${{ inputs.pmm_client_image || 'perconalab/pmm-client-fb:PR-3982-1aa6576' }}
      pmm_qa_branch: ${{ inputs.pmm_qa_branch || 'v3' }}
      pmm_ui_tests_branch: ${{ inputs.pmm_ui_tests_branch || 'v3' }} 